*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing:inherit
}
html{
    box-sizing:border-box;
    font-size:62.5%;
}
/* this is the start of the header */
.container{
    height: 100vh;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/Home-Page/hero-image_classic1.jpg");
}
/* start navigation section */
.nav{
    z-index: 10;
    position: fixed;
    background-color: #000;
    height: 12rem;
    width: 100vw;
    opacity: 0.7;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}
.nav-menubox{
    margin-left: 20rem;
}
.logo{
    width: 95px;
    height: 69px;
    padding-top: 2.5rem;
    margin-right: 30rem;
}
.main-menu{
    font-size: 2rem;
    display: flex;
    position: absolute;
    left: 32rem;
    top:40%;
    list-style-type: none;
}
.main-menu-list a{
    padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
    color: #ccdfcb;
    text-decoration: none;
}
.main-menu-list a:hover{
    color: #ff6a5c;
}
/* end navigation section */
/* home page h1 text start */
.header__text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heading-primary{
    color: #ccdfcb;
    backface-visibility: hidden;
    font-size: 1.6rem;
    font-family: 'Amethysta', serif;
    
}
.heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.heading-primary--sub {
    margin-top: 5px;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    -webkit-animation: moveInRight 1s ease-in;
    animation: moveInRight 1s ease-in;
}
/* home page h1 text end */
/* this is the end of the header */
/* ============================================ */
/* this is the start on the about section */
.about{
    height: 50vh;
    background-size: cover;
}
.container1{
    
    background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/Home-Page/water-feature-yellow-flowers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container2{
    background: linear-gradient(to bottom, #fff,#ccdfcb 100%);
}
/* this is the end of the about section */
/* ============================================ */
/* this is the start of the Request a quote */
.raq{
    height: 50vh;
    background-size: cover;
}
.container3{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Home-Page/classic-water-feature.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container4{
    background-color: #056571;
}
/* this is the end of the Request a quote */
/* ============================================ */
/* this is the start on the ads section */

.ads{
    height: 50vh;
    background-size: cover;
}
.container5{
    width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Home-Page/3-people-greenhouse.jpg);
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}
.container6{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Home-Page/delivery-truck.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* this is the end on the ads section */
/* ============================================ */
/* this is the start on the Projects section */
.projects{
    height: 100vh;
    background-size: cover;
}
.container7{
    background-color: #056571;
}
/* Featured Projects page h2 text start */
.projects__text-box{
    position: relative;
    top: 15rem;
    text-align: center;
}
.projects-primary{
    color: #ccdfcb;
    backface-visibility: hidden;
    font-size: 1.6rem;
    
}
.projects-primary--main {
    display: block;
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.projects-primary--sub {
    margin-top: .2rem;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    -webkit-animation: moveInRight 1s ease-in;
    animation: moveInRight 1s ease-in;
}
/* Featured Projects page h2 text end */
/* Featured Projects page Images start */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 20rem auto 30px;
     
  }
  .grid-item {
    padding: .5rem;
  }
/* Featured Projects page Images end */

/* this is the end on the Projects section */
/* ============================================ */
/* this is the start on the Products section */
.products{
    height: 50vh;
    background-size: cover;
}
.products__text-box{
    position: relative;
    top: 15%;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    border: 4px solid #056571;
    width: 41.6rem;
    height: 9.2rem;
}
.products-primary{
    color: #056571;
    padding: 2rem;
    text-transform: uppercase;
    backface-visibility: hidden;
    font-size: 3.6rem;
    
}
.container8{
    width: 100vw;
    background: url(../img/Home-Page/municipal-commercial.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container9{
    background-color: #f0f0f0;
}
/* this is the end on the Products section */
/* ============================================ */
/* this is the start on the Services section */
.service{
    height: 100vh;
    background-size: cover;
}
.container10{
    background-color: #414141;
}
/* this is the end on the Services section */
/* ============================================ */
/* this is the start on the Contact section */
.contact{
    height: 100vh;
    background-size: cover;
}
.container11{
    background-color: #056571;
}
/* this is the end on the Contact section */